:root {
  --blue: rgb(14, 144, 195);
  --orange: rgb(195, 65, 14);
}

* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  object-fit: border-box;
  font-size: 62.5%;
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  opacity: 0.9;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0.9;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 0.9;
}

button {
  height: 40px;
  width: 96px;
  background-color: var(--blue);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  color: white;
  font-size: 1.6rem;
}

input {
  height: 40px;
  background: transparent;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(205, 205, 205);
  padding-left: 5px;
  width: 192px;
  font-size: 1.6rem;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.6rem;
}

label {
  font-weight: 500;
  opacity: 0.8;
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
}
