@import url(../../assets/styles/main.css);
* {
  border: 1px solid red;
}

.content-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 80%;
}
.hero {
}
.hero > h1,
h3 {
  width: 100%;
  text-align: center;
}
