
@import url(../../assets/styles/main.css);

.dashbaord-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}
.containerUrl {
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.inputUrl {
  width: 400px;
  padding: 3px  15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.button {
  width: 400px;
  background-color: #5f77eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4e68d9;
}

.urlList-container {
  width: 80%;
  margin-top: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.url-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #000;
}

.url-table th, .url-table td {
    
    font-size: 1.2rem;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.url-table th {
  background-color: #f2f2f2;
  color: #333;
}

.url-table tr:hover {
  background-color: #f1f1f1;
}

.message {
  transform: translateY(-30px);
  color: red;
  opacity: 0.5;
  font-size: 1rem;
}

@media (max-width: 736px) {
  .containerUrl {
    width: 90%;
  }
  .urlList-container {
    width: 90%;
  }
  .secondary-container {
    display: none;
  }
}